<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Demo Expandable list</title>
        <link rel="stylesheet" href="css/style.css" type="text/css" media="screen, projection">
        <script type="text/javascript" src="js/jquery-1.4.2.min.js">
        </script>
        <script type="text/javascript" src="js/scripts.js">
        </script>
        </script>
    </head>
    <body>
        <h1><b><%= @curriculum.title %></b></h1>
        <div id="listContainer">
            <div class="listControl">
                <a id="expandList">Expand All</a>
                <a id="collapseList">Collapse All</a>
            </div>
            <ul id="expList">
                
            <% @curriculum.courses.each do |course| %>
              <li><h3><%= link_to "#{course.title}", course %>(<%= course.time_estimate %>)</h3>
                    <ul>
                            <% course.sections.each do |section| %>
                             <li><%= link_to "#{section.title}", section %>(<%= section.time_estimate %>)</li>
                        <% end %>
                    </ul>
                      <%end %>
          
                    
              </li>

            </ul>
        </div>
    </body>
</html>





<p id="notice"><%= notice %></p>








<%= link_to 'Edit', edit_curriculum_path(@curriculum) %> |
<%= link_to 'Back', curriculums_path %>
